body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.pembuka{
font-size: medium;
float: left;
width: 33.33%;
border-style: solid;
}

.isiberita{
    float: inline-end;
    width: 50%;
    border-style: solid;
}